<header class="site-header">
  
<left> <span class="post-meta small">Site is still under construction!! </span><left> 
  <div class="wrapper">
    <nav class="site-nav">
        <a href="https://mallikarjuntirlapur.github.io/">Home </a>
        <a href="https://mallikarjuntirlapur.github.io/assets/Tirlapur_Mallikarjun_CV.pdf">Resume </a>
        <a href="https://mallikarjuntirlapur.github.io/projects/">Projects</a>
        <ul>
       <li>
        <a href="#">Certificates <span class="arrow">&#9660;</span></a>
 
        <ul class="sub-menu">
            <li><a href="https://mallikarjuntirlapur.github.io/assets/recognition_certificates.pdf">Recognition Certificates</a></li>
            <li><a href="https://mallikarjuntirlapur.github.io/assets/internship_certificate.pdf">Internship Certificate</a></li>
            <li><a href="https://mallikarjuntirlapur.github.io/assets/masters_transcript.pdf">Masters Transcript</a></li>
            <li><a href="https://mallikarjuntirlapur.github.io/assets/bachelors_transcript.pdf">Bachelors Transcript</a></li>
        </ul>
    </li>
</ul>
		
		
     
    </nav>
<div class="social-icons">
  <div class="left">
     
     <a class="fa fa-github" href="https://github.com/MallikarjunTirlapur"></a>  
      <a class="fa fa-google-plus" href="https://plus.google.com/u/0/113386734464258895937/posts"></a>  
     <a class="fa fa-linkedin" href="https://de.linkedin.com/pub/mallikarjun-tirlapur/23/400/b51"></a> 
 
 
 
  </div> 
   </div>  
  </div>

<div class="clearfix">
           
      <center> <a class="fa fa-envelope" href="mailto:tirlapurmallikarjun@gmail.com"></a> tirlapurmallikarjun@gmail.com <center>
    
</div>

  </div>

</header>
